<div class="test-input--block">
  <div class="tets-input--label">
    {{label}}{{required === true ?"*":''}}
  </div>
  <div class="test-input--input">
    <input type="text">
  </div>
  <div class="test-input--buttons">
    <div class="test-input--remove-button">
      <svg  width="26" 
            height="26" 
            viewBox="0 0 26 26" 
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="13" 
                cy="13" 
                r="13" 
                fill="#FC6363"
        />
      </svg>
      </div>
    <div class="test-input--add-button">
      <svg width="26" 
            height="26" 
            viewBox="0 0 26 26" 
            fill="none"         
            xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="13" 
                cy="13" 
                r="12.5" 
                fill="white" 
                stroke="black"
        />
      </svg>   
    </div>
  </div>
</div>
